.product {
    width: 1400px;
    margin: 100px auto;
    display: flex;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

.product .productImage {
    width: 300px;
    height: 300px;
    margin-right: 150px;
}


.product .productImage {
    width: 300px;
    height: 300px;
}

.product .productImage img {
    width: 300px;
    height: 300px;
}

.product .productInfo {
    width: 900px;
    height: 300px;
    padding: 10px;
}

.product .productInfo p {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.product .productInfo span {
    color: gray;
    font-size: 18px;
}
