.product {
    width: 1400px;
    margin: 100px auto;
    display: flex;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

.product .productImage {
    width: 500px;
    height: 500px;
    background-color: gainsboro;
}

.product .productInfo {
    width: 900px;
    height: 500px;
    padding: 10px;
}

.product .productInfo p{
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 50px;
}

.product .productInfo span{
    color: gray;
    font-size: 18px;
}
