.changePassword {
    height: 500px;
    margin: 0 auto;
    padding-top: 90px;
}

.changePasswordBox {
    margin: 0 auto;
    width: 550px;
    background-color: rgb(216, 216, 216);
    padding: 30px;
    border: 0px 2px 2px 0px solid gray;
    border-radius: 15px 15px 15px 15px;
    height: 300px;
}

.changePasswordBox h6 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.changePasswordBox label {
    font-size: 20px;
    margin-bottom: 5px;
}

.changePasswordBox input {
    border: 1px solid gray;
    width: 490px;
    margin-bottom: 30px;
}

.formLoginBox button {
    margin-top: 30px;
    width: 490px;
}

@media only screen and (min-width:800px) and (max-width:1100px) {
    .changePassword {
        margin-left: -40px;
    }
}

@media only screen and (min-width:700px) and (max-width:1000px) {
    .changePassword {
        margin-left: -90px;
    }
}

@media only screen and (min-width:600px) and (max-width:950px) {
    .changePassword {
        margin: 0 auto;
        padding-top: 30px;
    }

    .changePasswordBox {
        margin: 0 auto;
        width: 450px;
        background-color: rgb(216, 216, 216);
        padding: 30px;
        border: 0px 2px 2px 0px solid gray;
        border-radius: 15px 15px 15px 15px;
        height: 310px;
        margin-left: -90px;
    }

    .changePasswordBox input {
        border: 1px solid gray;
        width: 390px;
        margin-bottom: 30px;
    }

    .changePasswordBox button {
        width: 390px;
    }
}

@media only screen and (min-width:400px) and (max-width:826px) {
    .changePassword {
        height: 370px;
        margin: 0 auto;
        padding-top: 30px;
        margin-left: 10px;
    }

    .changePasswordBox {
        margin: 0 auto;
        width: 500px;
        background-color: rgb(216, 216, 216);
        padding: 30px;
        border: 0px 2px 2px 0px solid gray;
        border-radius: 15px 15px 15px 15px;
        height: 310px;
    }

    .changePasswordBox input {
        border: 1px solid gray;
        width: 440px;
        margin-bottom: 30px;
    }

    .changePasswordBox button {
        width: 440px;
    }
}

@media only screen and (min-width:200px) and (max-width:610px) {
    .changePassword {
        height: 370px;
        margin: 0 auto;
        padding-top: 30px;
        margin-left: 20px;
    }

    .changePasswordBox {
        margin: 0 auto;
        width: 450px;
        background-color: rgb(216, 216, 216);
        padding: 30px;
        border: 0px 2px 2px 0px solid gray;
        border-radius: 15px 15px 15px 15px;
        height: 310px;
    }

    .changePasswordBox input {
        border: 1px solid gray;
        width: 390px;
        margin-bottom: 30px;
    }

    .changePasswordBox button {
        width: 390px;
    }
}


@media (max-width: 500px) {
    .changePasswordBox {
        margin: 0 auto;
        width: 350px;
        background-color: rgb(216, 216, 216);
        padding: 30px;
        border: 0px 2px 2px 0px solid gray;
        border-radius: 15px 15px 15px 15px;
        height: 310px;
    }

    .changePasswordBox input {
        border: 1px solid gray;
        width: 300px;
        margin-bottom: 30px;
    }
    .changePasswordBox button {
        width: 300px;
    }

}
