.post {
    height: 780px;
    margin: 0 auto;
    padding-top: 25px;
}

.postBox {
    margin: 0 auto;
    width: 550px;
    background-color: rgb(216, 216, 216);
    padding: 30px;
    border: 0px 2px 2px 0px solid gray;
    border-radius: 15px 15px 15px 15px;
    height: 730px;
}

.postBox h6 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.postBox label {
    font-size: 20px;
    margin-bottom: 5px;
}

.postBox input {
    border: 1px solid gray;
    width: 490px;
    margin-bottom: 30px;
}

.postBox textarea {
    border: 1px solid gray;
    width: 490px;
    height: 150px;
    margin-bottom: 30px;
}

.postBox span{
    font-size: 15px;
    color: rgba(128, 128, 128, 0.821);
    margin-left: 20px;
}

.postBox span i{
    font-size: 18px;
    color: red;
}

.postBox select {
    border: 1px solid gray;
    margin-bottom: 30px;
}

.postBox button {
    width: 490px;
}