.secretCodeBox1 {
    height: 300px;
    padding-top: 40px;
    width: 555px;
    margin-top: 70px;
}

.secretCodeContainer {
    margin: 0 auto;
    background-color: rgb(216, 216, 216);
    padding: 30px;
    border: 0px 2px 2px 0px solid gray;
    border-radius: 15px 15px 15px 15px;
    height: 320px;
}

.secretCodeContainer h6 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.secretCodeContainer label {
    font-size: 20px;
    margin-bottom: 5px;
}

.secretCodeContainer input {
    border: 1px solid gray;
    width: 490px;
    margin-bottom: 30px;
}

.secretCodeContainer button {
    width: 490px;
    margin-bottom: 10px;
}