.singlePost {
    height: 600px;
    margin: 0 auto;
    padding-top: 5px;
}

.singlePostContainer {
    margin: 0 auto;
    width: 550px;
    background-color: rgb(216, 216, 216);
    padding: 30px;
    border: 0px 2px 2px 0px solid gray;
    border-radius: 15px 15px 15px 15px;
    height: 655px;
}

.singlePostContainer h6 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.singlePostContainer label {
    font-size: 20px;
    margin-bottom: 5px;
}

.singlePostContainer input {
    border: 1px solid gray;
    width: 490px;
    margin-bottom: 30px;
}

.singlePostContainer button {
    width: 490px;
    margin-bottom: 10px;
}