.users {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
}

.users .usersInformationBox {
    background-color: rgb(189, 189, 189);
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    padding: 5px;
    position: relative;
    margin-right: 15px;
    margin-bottom: 30px;
}

.users ul li {
    list-style: none;
}

.users span {
    color: black;
    font-weight: bold;
    font-size: 16px;
    display: inline;
}

.users p {
    display: inline-block;
}

.users img {
    width: 100px;
}

.users .viewButton {
    border: 2px solid black;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 5px;
}


.users .viewButton:hover {
    background-color: transparent;
    color: black;
    transition: .3s;
}

@media only screen and (min-width:1000px) and (max-width:1466.4px) {
    .users {
        width: 800px;
    }
}

@media only screen and (min-width:900px) and (max-width:1264px) {
    .users {
        width: 650px;
    }
}

@media only screen and (min-width:700px) and (max-width:1116px) {
    .users {
        width: 650px;
        margin-left: -100px;
    }
}

@media only screen and (min-width:500px) and (max-width:1016px) {
    .users {
        width: 600px;
    }
}

@media only screen and (min-width:500px) and (max-width:967px) {
    .users {
        width: 300px;
        margin-left: 5px;
    }
}

@media only screen and (min-width:300px) and (max-width:826px) {
    .users {
        width: 650px;
    }
}

@media only screen and (min-width:100px) and (max-width:672px) {
    .users {
        width: 600px;
        margin-left: -50px;
    }
}

@media only screen and (max-width:550px) {
    .users {
        width: 300px;
        margin-left: 100px;
    }
}

@media only screen and (max-width:500px) {
    .users {
        width: 300px;
        margin-left: 20px;
    }
}