.arrowBox {
    background-color: black;
    height: 100px;
}

.wrapper {
    width: 1450px;
    margin: 0 auto;
    position: relative;
}

.container {
    display: inline-block;
    opacity: 0;
    position: sticky;
    bottom: 110px;
    overflow: hidden;
    transition: all 1s;
}

.showContainer {
    opacity: 1;
}

.container svg {
    width: 42px;
    float: right;
    display: block;
    border: 3px solid #1a73e8;
    fill: #1a73e8;
    padding: 5px 10px;
    border-radius: 50%;
    z-index: -1;
    cursor: pointer;
}

.container svg:hover {
    transform: rotate(360deg);
    border-radius: 50%;
    transition: all .5s;
    border-radius: 12px;
    fill: #03408F;
    border: 3px solid #03408F;
}

@media only screen and (max-width:1490px) {
    .wrapper {
        width: 1350px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:1359px) {
    .wrapper {
        width: 1250px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:1258px) {
    .wrapper {
        width: 1150px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:1156px) {
    .wrapper {
        width: 1050px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:1056px) {
    .wrapper {
        width: 950px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:956px) {
    .wrapper {
        width: 850px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:906px) {
    .wrapper {
       display: none;
    }
}

