.signUpBox {
    background-color: black;
    /* height: 950px; */
    height: 700px;
    margin: 0 auto;
    padding-top: 100px;
}

.signUpBox .signUpSuccessMessage{
    margin: 0 auto;
    text-align: center;
}

.signUpBox .signUpSuccessMessage img{
    margin-bottom: 30px;
}

.signUpBox .signUpSuccessMessage p{
    color: #ffffff;
    font-size: 30px;
}

.formSignUpBox {
    margin: 0 auto;
    width: 550px;
    background-color: #ffffffe5;
    padding: 30px;
    border: 0px 2px 2px 0px solid gray;
    border-radius: 15px 15px 15px 15px;
    /* height: 730px; */
    height: 530px;
}

.formSignUpBox h6 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.formSignUpBox label {
    font-size: 20px;
    margin-bottom: 5px;
}

.formSignUpBox input {
    border: 1px solid gray;
    width: 490px;
    margin-bottom: 25px;
}

.formSignUpBox span {
    margin-right: 20px;
}

.formSignUpBox button {
    margin-top: 25px;
    width: 490px;
}

.formSignUpBox .passwordCondition {
    margin-top: -23px;
    font-size: 13px;
}

.userType {
    background-color: #ffffff;
    width: 220px;
    text-align: left;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 30px;
}

.userType input {
    width: 10px;
}

.userType span {
    font-weight: bold;
}

@media only screen and (min-width:500px) and (max-width:700px) {
    .formSignUpBox {
        width: 450px;
        height: 550px;
    }

    .formSignUpBox input {
        width: 390px;
    }

    .formSignUpBox .col-sm-10 button {
        margin-top: 30px;
        width: 390px;
    }

    .formSignUpBox .checkBox .checkBoxMarker {
        position: absolute;
        left: -175px;
    }
}

@media only screen and (max-width:500px) {
    .formSignUpBox {
        width: 360px;
        height: 640px;
    }

    .formSignUpBox input {
        width: 300px;
    }

    .formSignUpBox .col-sm-10 button {
        margin-top: 30px;
        width: 300px;
    }

    .formSignUpBox .checkBox .checkBoxMarker {
        position: absolute;
        left: -130px;
    }

}

@media only screen and (max-width:435px) {
    .formSignUpBox {
        width: 360px;
        height: 600px;
    }

    .formSignUpBox input {
        width: 300px;
    }

    .formSignUpBox .col-sm-10 button {
        margin-top: 30px;
        width: 300px;
    }

    .formSignUpBox .checkBox .checkBoxMarker {
        position: absolute;
        left: -130px;
    }

}