.brand {
    background-color: black;
    color: #ffffff;
    height: 900px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.296);
}

.brandBox {
    display: inline-block;
    margin-top: 140px;
    position: relative;
    bottom: -1200px;
    opacity: 0;
    transition: all .5s;
}

.brandBox h3 {
    font-size: 40px;
    margin-bottom: 30px;
}

.brandImages {
    justify-content: center;
    margin: 0 auto;
    width: 1300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.brandImages img {
    width: 260px;
    margin-right: 150px;
    position: relative;
    left: 80px;
}

.brandImages1 {
    opacity: 0;
}

.brandImages2 {
    opacity: 0;
}

.brandImages3 {
    opacity: 0;
}

.brandImages4 {
    opacity: 0;
}

.brandImages5 {
    opacity: 0;
}

.brandImages6 {
    opacity: 0;
}

.brandImages img:hover {
    cursor: pointer;
}

.showContainerForm {
    bottom: 0;
    opacity: 1;
}

.showContainerForm1 {
    opacity: 1;
    transition: 5s;
}

.showContainerForm2 {
    opacity: 1;
    transition: 6s;
}

.showContainerForm3 {
    opacity: 1;
    transition: 7s;
}

.showContainerForm4 {
    opacity: 1;
    transition: 8s;
}

.showContainerForm5 {
    opacity: 1;
    transition: 9s;
}

.showContainerForm6 {
    opacity: 1;
    transition: 10s;
}

@media only screen and (min-width:1100px) and (max-width:1320px) {
    .brandImages {
        width: 1100px;
    }

    .brandImages img {
        width: 200px;
    }
}

@media only screen and (min-width:900px) and (max-width:1100px) {
    .brandImages {
        width: 900px;
    }

    .brandImages img {
        width: 140px;
    }
}

@media only screen and (min-width:700px) and (max-width:900px) {
    .brandImages {
        width: 700px;
    }

    .brandImages img {
        width: 120px;
    }
}

@media only screen and (min-width:500px) and (max-width:700px) {
    .brandImages {
        width: 500px;
    }

    .brandImages img {
        width: 150px;
    }
}

@media only screen and (max-width:500px) {
    .brandImages {
        width: 450px;
    }

    .brandImages img {
        width: 150px;
    }
}

@media only screen and (max-width:435px) {
    .brandImages {
        width: 330px;
    }

    .brandImages img {
        width: 150px;
        display: block;
    }

    .brandBox {
        opacity: 1;
        bottom: 0px;
        margin-top: 120px;
    }
    .brandBox h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .brandImages1 {
        opacity: 1;
    }
    
    .brandImages2 {
        opacity: 1;
    }
    
    .brandImages3 {
        opacity: 1;
    }
    
    .brandImages4 {
        opacity: 1;
    }
    
    .brandImages5 {
        opacity: 1;
    }
    
    .brandImages6 {
        opacity: 1;
    }
}