.wrapper {
    width: 1400px;
    margin: 0 auto;
}

.container {
    text-align: center;
    margin-top: 80px;
    height: 1050px;
    background-color: #ffffffe5;
}

.container h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 80px;
    color: #03408F;
    animation: slow2 1s ease;
}

.container h2 {
    animation: slow2 1.5s ease;
    color: #252525;
}

.container p {
    margin-bottom: 80px;
    animation: slow2 2s ease;
    color: #252525;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a:first-child {
    animation: slow2 2.5s ease;
}

.link2 {
    animation: slow2 3s ease;
}

.links a:last-child {
    animation: slow2 3.5s ease;
}

.links a {
    font-size: 1.3rem;
    color: #03408F;
    text-decoration: none;
    border-bottom: 2px solid #1C5799;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.links a:hover {
    color: rgb(144, 139, 221);
    transition: all .4s;
}

@keyframes slow2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1400px) {
    .wrapper {
        width: 1300px;
    }

}

@media (max-width: 1320px) {
    .wrapper {
        width: 1100px;
    }
}

@media (max-width: 1120px) {
    .wrapper {
        width: 900px;
    }

    .container {
        height: fit-content;
    }
}

@media (max-width: 920px) {
    .wrapper {
        width: 700px;
    }
}

@media (max-width: 720px) {
    .wrapper {
        width: 450px;
    }

    .container {
        height: fit-content;
    }

}

@media (max-width: 500px) {
    .wrapper {
        width: 400px;
        margin: 0 auto;
    }

    .container {
        width: 400px;
    }

    .containerForm h2 {
        width: 350px;
        margin: 0 auto;
    }

    .containerForm p {
        width: 350px;
        margin: 0 auto;
    }

    .links {
        width: 350px;
        margin: 0 auto;
    }
}

@media (max-width: 435px) {
    .wrapper {
        width: 400px;
        margin: 0 auto;
    }

    .container {
        width: 400px;
    }

    .containerForm h2 {
        width: 350px;
        margin: 0 auto;
    }

    .containerForm p {
        width: 350px;
        margin: 0 auto;
    }

    .links {
        width: 350px;
        margin: 0 auto;
    }
}