.footer {
    background-color: black;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.296);
}

.footer h4 {
    list-style: none;
    font-size: 25px;
    color: gray;
    margin-bottom: 30px;
}

.footer span {
    font-size: 18px;
    color: rgba(128, 128, 128, 0.679);
    margin-bottom: 10px;
}

.footer p {
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

.footer ul li {
    list-style: none;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer ul li:hover {
    color: gray;
    transition: .3s;
    cursor: pointer;
}

.footer input {
    width: 200px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}

.footer button {
    padding: 8px;
    border: 2px solid gray;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

.footer button:hover {
    cursor: pointer;
    color: #ffffff;
    background: transparent;
    transition: .5s;
}

@media only screen and (min-width:900px) and (max-width:1100px) {
    .footer {
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .footer h4 {
        font-size: 15px;
    }

    .footer span {
        font-size: 10px;
    }

    .footer p {
        font-size: 10px;
    }

    .footer ul li {
        font-size: 13px;
    }
}

@media only screen and (min-width:700px) and (max-width:900px) {
    .footer {
        height: 1100px;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .footer h4 {
        font-size: 25px;
        margin-left: 30px;
        color: red;
    }

    .footer span {
        font-size: 18px;
    }

    .footer p {
        font-size: 18px;
    }

    .footer ul li {
        font-size: 16px;
    }

    .footer input {
        margin: 20px auto;
    }
}

@media only screen and (min-width:700px) and (max-width:900px) {
    .footer {
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .footer h4 {
        font-size: 15px;
    }

    .footer span {
        font-size: 10px;
    }

    .footer p {
        font-size: 10px;
    }

    .footer ul li {
        font-size: 13px;
    }
}

@media only screen and (min-width:700px) and (max-width:900px) {
    .footer {
        height: 1100px;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .footer h4 {
        font-size: 25px;
        margin-left: 30px;
        color: red;
    }

    .footer span {
        font-size: 18px;
    }

    .footer p {
        font-size: 18px;
    }

    .footer ul li {
        font-size: 16px;
    }

    .footer input {
        margin: 20px auto;
    }
}

@media only screen and (min-width:500px) and (max-width:700px) {
    .footer {
        height: 1200px;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .footer h4 {
        font-size: 25px;
        margin: 0 auto;
        color: red;
    }

    .footer span {
        font-size: 18px;
    }

    .footer p {
        font-size: 18px;
    }

    .footer ul li {
        font-size: 16px;
    }

    .footer input {
        margin: 20px auto;
    }

    .footer div {
        margin-bottom: 50px;
    }

    .footer ul {
        margin-left: -30px;
    }
}

@media only screen and (max-width:500px) {
    .footer {
        height: 1100px;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .footer h4 {
        font-size: 25px;
        margin: 0 auto;
        color: red;
    }

    .footer span {
        font-size: 18px;
    }

    .footer p {
        font-size: 18px;
    }

    .footer ul li {
        font-size: 16px;
    }

    .footer input {
        margin: 20px auto;
    }

    .footer div {
        margin-bottom: 50px;
    }

    .footer ul {
        margin-left: -30px;
    }
}

@media only screen and (max-width:435px) {
    .footer {
        height: 1100px;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .footer h4 {
        font-size: 25px;
        margin: 0 auto;
        color: red;
    }

    .footer span {
        font-size: 18px;
    }

    .footer p {
        font-size: 18px;
    }

    .footer ul li {
        font-size: 16px;
    }

    .footer input {
        margin: 20px auto;
    }

    .footer div {
        margin-bottom: 50px;
    }

    .footer ul {
        margin-left: -30px;
    }
}