.checkoutPageStyle {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.checkoutPage {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.basketSideBar {
    border: 3px dashed red;
    width: 300px;
    border-radius: 10px;
    padding: 15px;
    height: 270px;
}

.basketSideBar p {
    font-weight: bold;
    display: inline;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.basketSideBar span {
    font-weight: bold;
    color: gray;
}

.basketSideBar div {
    margin-bottom: 33px;
}

.basketSideBar button {
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(2, 215, 2);
    font-weight: bold;
    border-radius: 10px;
}

.basketSideBar button:hover {
    background-color: transparent;
    transition: .3s;
}

.selectedItems {
    width: 850px;
    padding: 10px;
    margin-bottom: 500px;
}

.selectedItems img {
    border: 1px solid black;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 50px;
}

.selectedItems p {
    font-weight: bold;
    display: inline;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 100px;
}

.selectedItems .basketCartButtons {
    float: right;
    margin-right: 20px;
    font-size: 20px;
}

.selectedItems .basketCartButtons button {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.selectedItems .basketCartBox {
    margin-bottom: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(234, 234, 234);
}

.emptyCartBox {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;
}

.emptyCartBox h3 {
    margin: 0 auto;
    color: rgb(0, 0, 142);
}

@media only screen and (min-width:900px) and (max-width:1218px) {
    .basketSideBar {
        border: 3px dashed red;
        width: 700px;
        border-radius: 10px;
        padding: 15px;
        margin-left: 50px;
        margin: 0px auto;
        margin-bottom: 30px;
    }

    .basketSideBar div {
        display: inline-block;
        margin-right: 150px;
    }
}

@media only screen and (min-width:500px) and (max-width:899.2px) {
    .basketSideBar {
        border: 3px dashed red;
        width: 400px;
        border-radius: 10px;
        padding: 15px;
        margin-left: 50px;
        margin: 0px auto;
        margin-bottom: 30px;
    }

    .selectedItems {
        width: 700px;
        padding: 10px;
    }

    .selectedItems img {
        border: 1px solid black;
        border-radius: 10px;
        width: 65px;
        height: 65px;
        display: inline-block;
        margin-right: 40px;
    }

    .selectedItems p {
        font-weight: bold;
        display: inline;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 80px;
    }
}

@media only screen and (min-width:300px) and (max-width:716px) {
    .basketSideBar {
        border: 3px dashed red;
        width: 300px;
        border-radius: 10px;
        padding: 15px;
        margin-left: 50px;
        margin: 0px auto;
        margin-bottom: 30px;
    }

    .selectedItems {
        width: 500px;
        padding: 10px;
        height: 190px;
    }

    .selectedItems .basketCartBox {
        height: 170px;
    }

    .selectedItems img {
        border: 1px solid black;
        border-radius: 10px;
        width: 90px;
        height: 90px;
        display: block;
        margin-right: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .selectedItems p {
        font-weight: bold;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 55px;
    }

    .selectedItems .basketCartButtons {
        float: right;
        margin-right: 5px;
        font-size: 18px;
        margin-top: -13px;
    }
}

@media only screen and (max-width:550px) {
    .basketSideBar {
        border: 3px dashed red;
        width: 300px;
        border-radius: 10px;
        padding: 15px;
        margin-left: 50px;
        margin: 0px auto;
        margin-bottom: 30px;
    }

    .selectedItems {
        width: 480px;
        padding: 10px;
        height: 190px;
    }

    .selectedItems .basketCartBox {
        height: 170px;
    }

    .selectedItems img {
        border: 1px solid black;
        border-radius: 10px;
        width: 90px;
        height: 90px;
        display: block;
        margin-right: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .selectedItems p {
        font-weight: bold;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 55px;
    }

    .selectedItems .basketCartButtons {
        float: right;
        margin-right: 5px;
        font-size: 18px;
        margin-top: -13px;
    }

    .emptyCartBox img{
width: 300px;
    }
}

