header {
    background-color: black;
    height: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header img {
    width: 70px;
    float: left;
    margin-left: 50px;
    margin-top: 14px;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
    list-style: none;
    margin-left: 75px;
    margin-top: 35px;
    font-size: 20px;
    color: #ffffff;
}


header span {
    position: absolute;
    color: rgb(182, 182, 182);
    right: 290px;
    top: 60px;
}

header .checkoutIcon {
    font-size: 35px;
    color: #ffffff;
    margin-right: 50px;
}


header .signUpButton {
    margin-right: 20px;
}

header ul li:hover {
    color: gray;
    transition: .3s;
    cursor: pointer;
}

header .itemsCounter {
    color: red;
    font-weight: bold;
    padding: 3px;
    position: absolute;
    right: 40px;
    top: 10px;
    font-size: 20px;
}

header button {
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    border: 0px;
}

header button:hover {
    color: gray;
    transition: .3s;
    cursor: pointer;
}

@media only screen and (min-width:1200px) and (max-width:1400px) {
    header ul li {
        margin-left: 60px;
    }

    header .logoutButton {
        margin-right: 0px;
    }

    header button {
        font-size: 20px;
        color: #ffffff;
        background-color: black;
        border: 0px;
    }

    header span {
        position: absolute;
        color: rgb(182, 182, 182);
        right: 260px;
        top: 60px;
    }
}

@media only screen and (min-width:1000px) and (max-width:1300px) {
    header ul li {
        margin-left: 60px;
    }

    header .logoutButton {
        margin-right: -10px;
    }

    header button {
        font-size: 20px;
        color: #ffffff;
        background-color: black;
        border: 0px;
    }

    header span {
        position: absolute;
        color: rgb(182, 182, 182);
        right: 240px;
        top: 60px;
    }
}

@media only screen and (min-width:800px) and (max-width:1200px) {
    header ul li {
        margin-left: 40px;
    }

    header span {
        position: absolute;
        color: rgb(182, 182, 182);
        right: 180px;
        top: 60px;
    }
}

@media only screen and (min-width:800px) and (max-width:1200px) {
    header {
        height: 100px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        margin-left: 25px;
    }

    header span {
        position: absolute;
        color: rgb(182, 182, 182);
        right: 180px;
        top: 60px;
    }
}

@media only screen and (min-width:600px) and (max-width:984px) {
    header {
        height: 100px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        font-size: 16px;
        margin-left: 20px;
    }
    
    header span {
        position: absolute;
        color: rgb(182, 182, 182);
        right: 150px;
        top: 60px;
    }

    header button {
        font-size: 16px;
        color: #ffffff;
        background-color: black;
        border: 0px;
    }
}

@media only screen and (min-width:400px) and (max-width:863.5px) {
    header {
        height: 100px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        font-size: 15px;
        margin-left: 18px;
    }

    header span {
        position: absolute;
        color: rgb(182, 182, 182);
        right: 150px;
        top: 60px;
    }

    header button {
        font-size: 16px;
        color: #ffffff;
        background-color: black;
        border: 0px;
    }
}

@media only screen and (min-width:200px) and (max-width:789.5px) {
    header {
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        font-size: 15px;
        margin-left: 20px;
    }

    header img {
        width: 70px;
        float: left;
        margin-left: 20px;
        margin-top: 14px;
    }

    header .checkoutIcon {
        font-size: 25px;
        color: #ffffff;
        margin-right: 20px;
    }

    header span {
        visibility: hidden;
    }
}


@media only screen and (max-width:728px) {
    header {
        height: 150px;
    }
    header span {
        visibility: hidden;
    }
}


@media only screen and (max-width:640px) {
    header {
        height: 130px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    header img {
        width: 70px;
        float: left;
        margin-left: 13px;
        margin-top: 0px;
    }

    header .checkoutIcon {
        font-size: 25px;
        color: #ffffff;
        margin-right: 20px;
    }
}