.products {
    background-color: #ffffffe5;
    margin: 100px auto;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productsBox {
    width: 300px;
    height: 400px;
    margin-bottom: 70px;
    border: 2px solid gray;
    border-radius: 10px;
}

.productsBox .productsImageBox {
    width: 299.7px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 10px;
}

.productsBox .productsInformations {
    padding: 10px;
    position: relative;
}

.productsBox p {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.productsBox span {
    font-size: 16px;
    color: rgb(98, 98, 98);
}

.productsBox .productLink {
    text-decoration: none;
}

.quantity {
    display: inline-block;
    position: absolute;
    left: 180px;
    bottom: 10px;
}

.quantity button {
    padding: 10px;
    height: 32px;
    width: 32px;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    margin: 5px;
}