.products {
    background-color: #ffffffe5;
    margin: 100px auto;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productsBox {
    width: 300px;
    height: 450px;
    margin-bottom: 70px;
    border: 2px solid gray;
    border-radius: 10px;
}

.productsBox .productsImageBox {
    width: 299.7px;
    height: 250px;
    border-bottom: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}

.productsBox .productsImageBox img {
    width: 245px;
    height: 245px;
}

.productsBox .productsInformations {
    padding: 10px;
    position: relative;
}

.productsBox p {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.productsBox span {
    font-size: 16px;
    color: rgb(98, 98, 98);
}

.productsBox .productLink {
    text-decoration: none;
}

.quantity {
    display: inline-block;
    position: absolute;
    left: 180px;
    bottom: 10px;
}

.quantity button {
    padding: 10px;
    height: 32px;
    width: 32px;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    margin: 5px;
}

.filterBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.searchBox {
    margin-top: 60px;
    margin-left: 100px;
}

.searchBox input {
    width: 300px;
    border: 3px dashed red;
    padding: 8px;
    border-radius: 10px;
}

.searchBox input:focus {
    outline: none;
}

.searchBox button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin-left: 10px;
}

.searchBox .searchButton {
    width: 30px;
}

.categoryBox {
    width: 300px;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-right: 90px;
}

.categoryBox .categories {
    display: flex;
    flex-wrap: wrap;
}

.categoryBox .categories p {
    margin-left: 5px;
}

.categoryBox ul li {
    display: inline-block;
    text-decoration: none;
    margin-right: 50px;
}

.categoryBox ul li:hover {
    cursor: pointer;
    color: red;
    transition: .3s;
}

.noProductSection {
    text-align: center;
}

.noProductSection img {
    width: 300px;
    margin: 30px auto;
}

.noProductSection p {
    font-weight: bold;
    color: red;
    font-size: 30px;
    margin: 30px auto;
}

@media only screen and (min-width:1200px) and (max-width:1500px) {
    .products {
        margin: 100px auto;
        width: 1400px;
    }
}

@media only screen and (min-width:1000px) and (max-width:1400px) {
    .products {
        margin: 100px auto;
        width: 1200px;
    }
}

@media only screen and (min-width:800px) and (max-width:1200px) {
    .products {
        margin: 100px auto;
        width: 1000px;
    }
}

@media only screen and (min-width:600px) and (max-width:1000px) {
    .products {
        margin: 100px auto;
        width: 800px;
    }

    .searchBox {
        margin: 60px auto;
    }

    .categoryBox {
        margin: 50px auto;
    }
}

@media only screen and (min-width:400px) and (max-width:800px) {
    .products {
        margin: 100px auto;
        width: 620px;
    }

    .searchBox {
        margin: 60px auto;
    }

    .categoryBox {
        margin: 50px auto;
    }
}

@media only screen and (min-width:200px) and (max-width:650px) {
    .products {
        margin: 100px auto;
        display: block;
    }

    .productsBox {
        margin: 70px auto;
    }
}

@media only screen and (max-width:550px) {
    .products {
        margin: 0px auto;
        display: block;
        width: 350px;
    }

    .productsBox {
        margin: 70px auto;
    }

    .filterBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .searchBox {
        margin: 0 auto;
        margin-top: 60px;
    }
}

@media only screen and (max-width:500px) {
    .products {
        margin: 0px auto;
        display: block;
        width: 350px;
    }

    .productsBox {
        margin: 70px auto;
    }

    .filterBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .searchBox {
        margin: 0 auto;
        margin-top: 60px;
    }
}

@media only screen and (max-width:435px) {
    .products {
        margin: 0px auto;
        display: block;
        width: 350px;
    }

    .productsBox {
        margin: 70px auto;
    }

    .filterBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .searchBox {
        margin: 0 auto;
        margin-top: 60px;
    }
}